:root {
  --c-black: #e9c31b;
  --c-white: #222;
}

html {
  background-color: var(--c-white);
  font-size: 48px;
  line-height: 1.5;
  font-family: 'Jost';
  color: var(--c-black);
}

a {
  color: #2a9680;
}

h1 {
  margin-bottom: -90px;
}

h3 {
  font-size: 36px;
}

.flexit {
  position: absolute;
  top: 0;
  left: 15%;
  text-align: justify;
  max-width: 70%;
}

@media (max-width: 640px) {
  .breaker {
    margin-top: 10%;
    color: #2a9680;
  }  
  .footer {
    position: fixed;
    margin-left: -208px;
    margin-top: 388px;
  }
  .hobbies {
    font-size: 18px;
  }
  .identities {
    font-size: 12px;
    font-family: 'ZCOOL QingKe HuangYou';
    rotate: 270deg;
    color: #2a9680;
  }
  .intro {
    font-size: 24px;
    font-family: 'Jost';
    text-align: justify;
  }
  .langs {
    font-size: 18px;
    display: inline-flex;     
    margin-top: 25%;
    margin-right: 50px;
    color: #2a9680;
  }  
  .linx {
    font-size: 14px;
    font-family: 'Jost';
  }  
  .title {
    font-family: 'Yellowtail';
    text-align: left;
    font-size: 54px;
    position: relative;
    white-space: nowrap;
    margin-top: 40px;
  }
}

@media (min-width: 641px) {
  .breaker {
    color: #2a9680;
  }   
  .footer {
    position: fixed;
    margin-left: -260px;
    margin-top: 453px;
  }
  .hobbies {
    font-size: 24px;
  }
  .identities {
    font-size: 14px;
    font-family: 'ZCOOL QingKe HuangYou';
    rotate: 270deg;
    color: #2a9680;
  }
  .intro {
    font-size: 30px;
    font-family: 'Jost';
    text-align: justify;
  }
  .langs {
    font-size: 40px;
    display: inline-flex;
  }  
  .linx {
    font-size: 18px;
    font-family: 'Jost';
  }  
  .title {
    font-family: 'Yellowtail';
    text-align: left;
    font-size: 98px;
    position: relative;
    white-space: nowrap;
  }
}

@media (min-width: 769px) {
  .title {
    font-family: 'Yellowtail';
    text-align: left;
    font-size: 128px;
    position: relative;
    white-space: nowrap;
  }
}

.blogdate {
  font-size: 16px;
}

.blogbody {
  font-family: 'Jost';
  text-align: justify;
  font-size: 20px;
  max-width: 99%;
}

.blogicon {
  scale: 8%;
  margin-right: 99%;
  margin-top: -25%;
  /* margin-bottom: -100px; */
}

.teal {
  color: #2a9680;
}

.squig {
  scale: 8%;
  rotate: 4deg;
  margin: 0;
  position: absolute;
  top: 5%;
  left: 25%;
  margin-right: -50%;
}

.squig2 {
  z-index: -10;
  scale: 200%;
  rotate: 0deg;
  padding-top: -500px;
}

.squigfooter {
  z-index: -1;
  scale: 12%;
}

.main {
  max-width: 2000px;
  font-size: 24px;
  padding: 1rem;
  margin: 0 auto;
}

.footer {
  position: fixed;
  top: 60px;
  width: -5%;
}

.imgcontainer {
  background-image: url("../images/dotgrid-23K06-054139.png");
  background-repeat: repeat;
  background-size: contain;
}

.jost {
  font-family: 'Jost';
}

.kodchasan {
  font-family: 'Kodchasan';
}

.slackside {
  font-family: 'Slackside One';
  scale: 120%;
}

.zcool {
  font-family: 'ZCOOL QingKe HuangYou';
}

.dela {
  font-family: 'Dela Gothic One';
}
